<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <a href="" class= "btn btn-outline-primary float-right">See all</a>
      <h3 class= "section-title">Popular products</h3>
    </header>
    <div class= "row">
        <% @top_ten.each do |product|%>
          <div class="col-md-3">
          <div href="#" class="card card-product-grid">
          <%= image_tag product.image, alt: "product's image", class: 'img-wrap' %>
          <figcaption class="info-wrap">
          <%= link_to product.name, product_path(product.id), class: "title" %>
          <div class="price mt-1">$ <%= sprintf("%.2f",product.price)%></div>
        </figcaption>
        </div>
        </div>
    <%end%>
  </div>
  </section>