<div class="container mt-5 dashboard">
  <%= render partial: 'infocard' %>
  <section class='product_list'>
    <h2 class="mt-5"> All Items:</h2>
    <table class="table">
    <div class="input-group"> 
      <span class="input-group-addon">Filter by Status  </span>
      <select id="filter" class="check_boxes" >
        <option selected>Product status</option>
        <option value="1">Active</option>
        <option value="2">Inactive</option>
      </select>
    </div>
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Rating</th>
          <th scope="col">Status</th>
          <th scope="col">Change Status</th>
        </tr>
      </thead>
  <%= render partial: 'products/list' %>
  </table>
  </div>
</section>
</div>
