<div class="container mt-5">
  <h3>Come meet our Merchants</h3>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Products #</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @merchants.each do |merchant| %>
          <tr class="list-group-item-action">
            <td> <%= link_to merchant.username, merchant_path(merchant) %> </td>
            <td> <%= merchant.products.count %> </td>
            <td> <%= (merchant.own_average_rating > 0) ? merchant.own_average_rating : 'no rating yet'%> </td>
          </tr>
      <% end %> 
    </tbody>
  </table>
</div>