<div class="container mt-5 merchant-container">
  <h3>Come Meet Our Merchants</h3>

  <table class="table">
    <thead >
      <tr>
        <th scope="col">Profile Picture</th>
        <th scope="col">Name</th>
        <th scope="col">Products</th> 
        <%# active products %>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @merchants.each do |merchant| %>
          <tr class="list-group-item-action">
            <td><img src= <%= merchant.avatar %> alt="" class="profile_pic img-fluid"></td>
            <td> <%= link_to merchant.username, merchant_path(merchant) %> </td>
            <td> <%= merchant.products.where(active: true).count %> </td>
            <td> <% if merchant.own_average_rating > 0 %>
                  <span class='text-warning'>
                    <% merchant.own_average_rating.times do  %>
                      ★
                    <%end%>
                    <% (5-merchant.own_average_rating).times do%>
                      ☆
                    <%end%>
                  </span>
                <% else %>
                  no rating availiable
                <% end %>
            </td>
          </tr>
      <% end %> 
    </tbody>
  </table>
</div>

 