/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

main {
  padding: 2rem;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h2 {
  color: #26A69A;
}

a {
  color: #26A69A;

  &:hover {
    color: #00796B;
    text-decoration: none;
  }
}

.app-header {
  text-align: center;
  padding: 2rem 1rem 0.5rem 1rem;
  background-size: cover;
  background-position: center;


  &__header {
    margin: 25px auto 60px auto
  }

  & h1 a {
    font-family: 'Alex Brush', cursive;
    font-size: 4.5rem;
    color: rgb(245, 236, 158);

    &:hover {
      text-decoration: none;
    }
  }

  & h1 small {
    color: white;
  }
  
  &__nav {
    
    &__item {
      color: white; 
      margin: 0.2rem 1rem; 

      &:hover {
        color: white;
      }
    }

    &__button {
      margin: 0.2rem 1rem;
    }

    & .navbar-toggler {
      color: white;
    }
  }
}