// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.category-card {
    padding: 0.5rem;
    margin: 0.5rem;
    display: inline-block;
}

.category-image {
    border-radius: 50%;
    height: 165px;
    width: 200px;
}