<section>
  <%= form_with model: @category do |f| %>

    <div class="form-group ">
      <%= f.label :name %>
      <%= f.text_field :category, class: "form-control" %>
    </div>

  <% end %>
</section>