<div class="review-container">
  <h5><%=pluralize reviews.count ,"product review"%></h5>
  <section class='row-2'>
    <% reviews.each do |review|%>
      <div class="col-6">
        <div class='review card-body'>
          <div class="row">
            <div class="col-4">
          <%= image_tag 'https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX460_.png',
              class: 'reviewer_avatar'
          %>
          </div>
          <div class="col-8 ">
          <%= review.reviewer %>
          <br>
          <p class="text-warning">
                <% review.rating.times do  %>
                      ★
                <%end%>
                <% (5-review.rating).times do%>
                      ☆
                <%end%>
          </p>
          <%# simple_format to help us put it in paragraph %>
          <%= simple_format review.comment%>
          </div>
          </div>
          </div>
        </div>
    <%end%>
  </section>
</div>