<!-- footer styling reference: https://mdbootstrap.com/docs/jquery/navigation/footer/#gentlygray -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h6 class="font-weight-bold text-uppercase mb-4">About Us</h6>

        <ul class="list-unstyled">
          <li>
            <p>
              <%= image_tag 'https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/Ada_logo_vertical_deepblue_fuschia/original.png?1581381731', class: "img-thumbnail" %>
            </p>
          </li>
        </ul>

      </div>
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h6 class="font-weight-bold text-uppercase mb-4">Ada Developers Academy</h6>
        <p>Thank you for checking out our bEsty project! We are four aspiring software developers from C13.</p>

      </div>
      <hr class="clearfix w-100 d-md-none">

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <h6 class="font-weight-bold text-uppercase mb-4">Address</h6>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i>Seattle, WA 98161</p>
          </li>
          <li>
            <p>
              <i class="fa fa-info mr-3"></i> WellEsty@besty.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i> (123)-456-7891</p>
          </li>
          <li>
            <p>
              <i class="fa fa-shopping-bag mr-3"></i> Opens 24/7 </p>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h6 class="font-weight-bold text-uppercase mb-4">Follow Us</h6>
        <a type="button" class="btn-floating btn-fb">
          <i class="fa fa-twitter-square fa-2x"></i>
        </a>
        <a type="button" class="btn-floating btn-tw">
          <i class="fa fa-facebook-square fa-2x"></i>
        </a>
        <a type="button" class="btn-floating btn-gplus">
          <i class="fa fa-google-plus-square fa-2x"></i>
        </a>
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
        <p>© 2020 WellEsty </p>
      </div>
    </div>
  </div>
</footer>
